---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=7a3heu7emrjz6qbsugmepbv6&format=json&show=storeType,name,city,distance,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":16,"totalPages":2,"queryTime":"0.069","totalTime":"0.084","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=storeType,name,city,distance,phone&format=json&apiKey=7a3heu7emrjz6qbsugmepbv6","stores":[{"storeType":"Mobile
        SAS","name":"CHERRY CREEK MALL","city":"DENVER","distance":3.45,"phone":"303-270-9189"},{"storeType":"Big
        Box","name":"BELMAR CO","city":"LAKEWOOD","distance":5.31,"phone":"303-742-8039"},{"storeType":"Big
        Box","name":"COLORADO BLVD CO","city":"DENVER","distance":5.59,"phone":"303-758-5805"},{"storeType":"Big
        Box","name":"DENVER WEST CO","city":"LAKEWOOD","distance":8.39,"phone":"303-273-5617"},{"storeType":"Big
        Box","name":"WESTMINSTER CO","city":"WESTMINSTER","distance":8.52,"phone":"303-426-4434"},{"storeType":"Big
        Box","name":"NORTHGLENN CO","city":"DENVER","distance":9.14,"phone":"303-252-8677"},{"storeType":"Mobile
        SAS","name":"TOWN CENTER AURORA","city":"AURORA","distance":9.73,"phone":"303-326-0848"},{"storeType":"Big
        Box","name":"AURORA CO","city":"AURORA","distance":9.79,"phone":"303-338-5797"},{"storeType":"Big
        Box","name":"LITTLETON CO","city":"LAKEWOOD","distance":10.44,"phone":"303-932-7830"},{"storeType":"Big
        Box","name":"SOUTHGLENN CO","city":"CENTENNIAL","distance":11.02,"phone":"303-797-3246"}],"warnings":"Distances
        are in terms of miles (default)"}'
  recorded_at: Thu, 13 Apr 2017 16:21:02 GMT
recorded_with: VCR 3.0.3
